<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="row">

      <div class="col-3">

        <%= link_to root_path, class: 'logo' do %>

        <div class="circle">
          <br />
          Compete
          <br />
          With the
          <br />
          Immortals

        </div>

        <% end %>

      </div>

      <div class="col-4 slogan">
        this is a slogan
      </div>

      <div class="col-5 links">

        <%= link_to 'contribute', new_quote_path %>
        <%= link_to 'about', '#' %>
        
      </div>

    </header>

    <hr />

    <br class="clear" />

    


    <div class="container">
      <%= yield %>
    </div>



    <div class="footer">
      <div class="container">
        <div class="row">        

          <div class="col-6">
            <%= link_to "This isn't enough, I need more", root_path, class: "next-quote"  %>
          </div>

          <div class="col-6 footer-blurb">
            hacked by <a href="https://github.com/firehosestudent/splurty.git">Jonny P</a><br />
            this is a splurty app - <a href="https://online.bootcampspot.com">Learn how to code here</a>
            
          </div>

        </div>               
        
      </div>
      
    </div>

  </body>
</html>
